/* QUOTES BLOCKS IN 'style_quotes.css' */

@media only screen and (max-device-width: 540px) {
  .content-container {
    height: 1500px;
  }
  h1 {
    font-size: 84px;
    /* display: none; */
  }
  h4 {
    font-size: 48px;
  }
  header {
    height: 110px;
  }
  .penguin-container {
    height: 340px;
    /* position: relative; */
  }
  .penguin-head {
    transform: scale(2);
    top: 190px;
    position: absolute;
  }
  .button-container {
    position: absolute;
    top: 400px;
    transform: scale(1.5, 1.5);
    /* background-color: red; */
  }
  button {
    background-color: white;
    border: 3.5px solid black;
    border-radius: 10px;
    margin: 3px;
    width: 75px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Times New Roman';
  }
  h2 {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
  .post-one-image {
    min-width: calc(100vw - 44px);
  }
  .article-one {
    min-width: calc(100vw - 44px);
    margin-left: 20px;
  }
  .read-time {
    font-size: 25px;
  }
  @keyframes peguin-strech {
    50% {transform: scale(6, 0.25);}
    60% {transform: scale(1.5, 1.5)}
    70% {transform: scale(3, .75)}
    75% {transform: scale(1.5, 1.5)}
    80% {transform: scale(1.875, 1.2)}
    85% {transform: scale(1.5, 1.5)}
    90% {transform: scale(1.65, 1.365)}
    95% {transform: scale(1.5, 1.5)}
  }
  @keyframes penguin-drop {
    0% {top: 135px; transform: scale(1.5, 1.5) rotate(0deg);}
    5% {
      top: calc(100% - 135px);
      transform: scale(1.2, 1.2);
      animation-timing-function: cubic-bezier(0, 2.1, 0.91, 0.53);
    }
    5.01% {
      top: calc(100% - 135px);
      transform: scale(1.32, .96);
      animation-timing-function: cubic-bezier(0.19, 0.46, 0.61, 0.78);
    }
    7% {
      top: calc(100% - 250px);
      transform: scale(1.2, 1.2);
      animation-timing-function: cubic-bezier(0.14, 0, 0.82, 0.42);
    }
    9% {top: calc(100% - 137px); transform: scale(1.2, 1.2);}
    9.01% {
      top: calc(100% - 137px);
      transform: scale(1.26, 1.2);
      animation-timing-function: cubic-bezier(0.19, 0.46, 0.61, 0.78);
    }
    10% {
      top: calc(100% - 157px);
      transform: scale(1.2, 1.2);
      animation-timing-function: cubic-bezier(0.23, 0.13, 0.82, 0.42);
    }
    11% {
      top: calc(100% - 137px);
      transform: scale(1.2, 1.2);
      left: calc(50% - 60px);
      animation-timing-function: cubic-bezier(0.58, 0.02, 0.82, 0.42);
    }
    11.01% {
      top: calc(100% - 137px);
      transform: scale(1.26, 1.2);
      animation-timing-function: cubic-bezier(0.19, 0.46, 0.61, 0.78);
    }
    12% {
      top: calc(100% - 140px);
      transform: scale(1.2, 1.2);
      animation-timing-function: cubic-bezier(0.23, 0.13, 0.82, 0.42);
    }
    13% {
      top: calc(100% - 137px);
      transform: scale(1.2, 1.2);
      left: calc(50% - 60px);
      animation-timing-function: cubic-bezier(0.58, 0.02, 0.82, 0.42);
    }
    100% {top: calc(100% - 137px); transform: scale(1.2, 1.2);}
  }
}
